<%
  meta title: "Recent Articles",
       description: 'The most recent funny articles from the internet',
       keywords: ['Funny Pictures', 'Funny Stories', 'New Memes', 'Humorous Articles', 'Fresh Content']
%>

<div id='outer-content-wrapper'>
  <%= will_paginate @articles, class: 'digg_pagination' %><br>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Recent Articles</h3>
    </div>
      <%= render 'listing_panel_body' %>
  </div>
</div>
