<div id='outer-content-wrapper'>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @article.title %></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <%= image_tag @article.actual_image, class: 'img-responsive' %><br>
          <span class='inline-source'>(<%= link_to @article.source, @article.guid %>)</span>
        </li>
      </ul>
    </div>
  </div>
</div>
