<%
  meta title: @article.title,
       description: @article.summary.to_description,
       keywords: @article.categories
%>

<div id='outer-content-wrapper'>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @article.title %></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <%= @article.summary.html_safe %>
          <br>
          <span class='inline-source'>(<%= link_to @article.source, @article.guid %>)</span>
        </li>
        <%= render 'layouts/share_this' %>
      </ul>
    </div>
  </div>
</div>
