<div class="panel-body">
  <ul class="list-group">
    <% @videos.each do |video| %>
      <li class="list-group-item slim-list-group-item">
        <div class='row'>

          <%= render 'video_index_row', video: video %>

        </div>
      </li>
    <% end %>
  </ul>
</div>
