<%
  meta title: "Recent Videos",
       description: 'The most recent funny videos from the internet',
       keywords: ['Funny Videos', 'Trending Humor Videos', 'New Videos']
%>

<div id='outer-content-wrapper'>
  <%= will_paginate @videos, renderer: BootstrapPagination::Rails %><br>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Recent Videos</h3>
    </div>
      <%= render 'listing_panel_body' %>
  </div>
  <%= will_paginate @videos, renderer: BootstrapPagination::Rails %>
</div>
