<div id='outer-content-wrapper'>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Recent Articles</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <% @chive_articles.each do |chive_article| %>
          <li class="list-group-item">
            <%= link_to chive_article.title, chive_article.guid, target: '_blank' %>  <span class='inline-source'>
              (<%= link_to chive_article.source, chive_article.guid %>)</span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
