<div class="panel-body">
  <ul class="list-group">
    <% @listings.each do |listing| %>
      <li class="list-group-item">
        <div class='row'>
          <% if listing.class == Joke %>
            <%= render 'jokes/joke_index_row', joke: listing %>
          <% elsif listing.class == BreakVideo %>
            <%= render 'videos/video_index_row', video: listing %>
          <% elsif listing.class == RedditFunnyPicture %>
            <%= render 'pictures/picture_index_row', picture: listing %>
          <% else %>
            <%= render 'articles/article_index_row', article: listing %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
