<div id='outer-content-wrapper'>
  <h2>About us...</h2>

  <h3>What is this site anyway?</h3>
  <p>
    InternetVortex.com exists for the sole purpose of your enjoyment (and so we can collect phat lewt from Google Ads). <br>
    The idea is simple: We pull in the newest content from the top humor sites around the web and put them all on one page! <br>
  </p>

  <h3>What sites does InternetVortex.com pull content from?</h3>
  <p>
    Currently we are pull in content from:
    <ul>
      <li>Reddit</li>
      <li>Cheezburger</li>
      <li>Break</li>
    </ul>
  </p>

  <h3>How can I get my site added to this list?</h3>
    <p>
      We are always looking for new content providers.<br>
      If you want YOUR site to be listed along with the others, shoot us an email and we will review the content.<br>
      We're looking for fresh original content that will make people laugh. No strings, we list the content and direct <br>
      the traffic back to your site!
  </p>
</div>
