<%
  meta title: "Recent Trending Humor",
       description: 'Top Jokes, articles, images, stories and memes from the web',
       keywords: ['Jokes', 'Funny Articles', 'Trending Humor', 'Funny Pictures']
%>

<div id='outer-content-wrapper'>
  <%= will_paginate @listings, class: 'digg_pagination' %><br>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Newest Content from All Sources</h3>
    </div>

    <%= render 'listing_panel_body' %>

  </div>
</div>
