<div class="panel-body">
  <ul class="list-group">
    <% @pictures.each do |picture| %>
      <li class="list-group-item slim-list-group-item">
        <div class='row'>

          <%= render 'picture_index_row', picture: picture %>

        </div>
      </li>
    <% end %>
  </ul>
</div>
