<div class='col-md-1'>
  <div class='article-thumbnail'>
    <%= link_to picture_path(picture) do %>
      <%= image_tag picture.thumbnail, class: 'img-responsive' %>
    <% end %>
  </div>
</div>
<div class='col-md-11'>
  <%= link_to picture.title, picture_path(picture) %>  <span class='inline-source'>
      (<%= link_to picture.source, picture.guid %>)</span>
</div>
