// Place all the styles related to the Jokes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline-source a, .inline-source{
  color: #777;
}

#outer-content-wrapper{
  padding: 60px 20px;
}

.profit-column{
  margin-top: 79px;
}

.pagination{
  margin: 10px 15px;
}
