<%
  meta title: "Recent Jokes",
       description: 'The most recent jokes from the web',
       keywords: ['New Jokes', 'Trending Jokes', 'Funny Jokes', 'Jokes']
%>

<div id='outer-content-wrapper'>
  <%= will_paginate @jokes, renderer: BootstrapPagination::Rails %><br>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Recent Jokes</h3>
    </div>

    <%= render 'listing_panel_body' %>

  </div>
  <%= will_paginate @jokes, renderer: BootstrapPagination::Rails %>
</div>
