<form method='link' action='#' id='archive-date-form' class="form-inline <%= css %>" data-root-url="/archive<%= channel %>/">
  <div class="form-group">
    <input type="text" class="form-control" id="datepicker" placeholder="Select Date">
  </div>
</form>
