<form method='link' action='#' id='archive-date-form' class="<%= css %>" data-root-url="/archive<%= channel %>/">
  <%= @date_message %> <input type="text" id="datepicker" value="<%= params[:date] %>"> <input type='submit' value='Go'>
</form>
