<div class="col-md-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Archive Quick Links</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <% @recent_days.each do |day| %>
          <li class="list-group-item slim-list-group-item">
            <%= link_to day, front_page_archive_path(date: day) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Our Sponsors</h3>
    </div>
    <div class="panel-body">
      <p>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- responsive-ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1535464165045682"
             data-ad-slot="1036549788"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </p>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Link Market</h3>
    </div>
    <div class="panel-body">
      <p>
        <a href="http://www.linkmarket.net/customer_center/products_and_prices.php" title="Link Exchange | Products And Prices" target="_blank">
          Link Exchange | Products And Prices</a><br />The list of link building products and prices currently offerd at LinkMarket.Net.
      </p>
    </div>
  </div>

</div>
