<p>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- responsive-ad -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1535464165045682"
       data-ad-slot="1036549788"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</p>

<p>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- responsive-display-1 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1535464165045682"
       data-ad-slot="9419270982"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</p>

<p>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- responsive-text-ad-minimal -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1535464165045682"
       data-ad-slot="1896004186"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</p>
